<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main">

    <!-- For accessing Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For checking current network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For waking device from sleep for showing notification -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- For vibrating device -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For receiving GCM messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- For protecting GCM messages so that only your app can receive them -->
    <permission
        android:name="jp.anpanman.fanclub.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="jp.anpanman.fanclub.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- push通知タップ時に遷移するActivity -->


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_anpan_active"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="openPushStartActivity"
            android:value=".main.ui.activity.SplashScreenActivity" />
        <!-- 通知エリアに表示されるアイコン -->
        <meta-data
            android:name="smallIcon"
            android:resource="@drawable/icon_anpan_active" />
        <!-- 通知の複数表示　0:複数表示しない , 1:複数表示する-->
        <meta-data
            android:name="notificationOverlap"
            android:value="0" />
        <!-- ダイアログプッシュの背景画像 -->
        <meta-data
            android:name="dialogPushBackgroundImage"
            android:resource="@drawable/icon_anpan_active" />

        <activity
            android:name="jp.anpanman.fanclub.main.ui.activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="jp.anpanman.fanclub.main.ui.activity.IntroActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="jp.anpanman.fanclub.main.ui.activity.TermOfUseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="jp.anpanman.fanclub.main.ui.activity.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"/>


        <!-- For receiving GCM message and registration success -->
        <!--<receiver-->
        <!--android:name="jp.anpanman.fanclub.main.gcm.GcmBroadcastReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
        <!--<category android:name="jp.anpanman.fanclub" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
        <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
        <!--android:exported="true"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
        <!--<category android:name="jp.anpanman.fanclub"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service android:name="jp.anpanman.fanclub.main.gcm.GcmIntentService" />-->
        <!-- make sure to add google-play-services_lib from  project properties->android->library-->
        <receiver
            android:name="com.nifty.cloud.mb.core.NCMBGcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="jp.anpanman.fanclub" />
            </intent-filter>
        </receiver>

        <service
            android:name="jp.anpanman.fanclub.main.ncmb.NCMBService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- Listen Push Notify to show Dialog Coupon -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 受信クラス設定
     カスタム   : android:name="パッケージ名.MyCustomService"
     デフォルト : android:name="com.nifty.cloud.mb.core.NCMBListenerService" -->

        <!-- ダイアログPush通知設定-->
        <activity
            android:name="com.nifty.cloud.mb.core.NCMBDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"/>
        <!-- プッシュ通知タップ時に起動するActivityの設定 -->
    </application>

</manifest>